BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation

BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentPPDirectives: None

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

ColumnLimit: 0

DerivePointerAlignment: false
PointerAlignment: Right

SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: Never
