---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-confusable-identifiers,
  misc-header-include-cycle,
  misc-misleading-bidirectional,
  misc-misleading-identifier,
  misc-redundant-expression,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*/)(include|src|tests)/.*'
SystemHeaders: false
FormatStyle: file
...
