# Project specific
# Add files and directories specific to your project that should be ignored here

# Rust / Cargo
target/
**/*.rs.bk
**/*.rs.orig
**/*.rs.bak
*.rlib
*.rmeta
*.dSYM
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib
*.a
*.lib
*.lo
*.orig

# Diff Files
*.diff
*.patch

# Configuration Files
.env*
!.env.example

# Platform-specific Files
## Linux
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## Windows
$RECYCLE.BIN/
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
*.lnk
*.stackdump
Thumbs.db
Thumbs.db:encryptable

## macOS
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

# Cache, Temporary, and Misc
.cache/
.temp/
temp/
tmp/
*.tmp
*.rej

# Logs and Diagnostics
logs/
*.log
*-debug.log*
*-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.pid.lock
*.seed

# Security Assets
*.pem
*.key
*.crt
*.cert
*.csr
*.der
*.jks
*.keystore
*.p12
*.pfx
*.pvk
